html {
  height: 100%;
  min-height: 100%;
  body {
    @include rem-fallback(font-size, $font-size);
    height: 100%;
    font-family: $teko;
    line-height: $line-height;
  }

  .btn {
    @include rem-fallback(font-size, $font-size-btn);
    border-radius: 0;
  } 
  .btn-primary {
    @include bg-yellow();   
    @include box-shadow($box-shadow-base);
    color: $dark;
    font-family: $teko;
    &:hover {
      @include bg-yellow-reverse();
      color: $dark;
    }
  }
 
  .container-fluid {
    width: 100%;
  }  

  h1 { @include rem-fallback(font-size, $font-size-h1); }
  h1, h2, h3, h4 { text-transform: uppercase; } 
 
  .site-wrap {
    @include flexbox();
    @include flex-direction(column);
    height: 100%;
  }
  .content-wrap {
    flex: 1 1 auto;
  }
  .content-bottom-wrap {
    background-color: $dark; 
    color: $yellow;
    margin-top: auto;
  }  
}
